* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  #FFFFFF;
}

.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    width: 106px;
    height: 40px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav li {
    margin: 0 0px;
}

.nav a {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 0 20px;
    text-decoration: none;
}

.nav a:hover {
    color: #605bfe;
}

.btn {

    display: inline-block;
    width: 120px;
    height: 50px;
    border: 1px solid #605bfe;
    padding: 15px 30px;
    border-radius: 5px;
    color: #605bfe;
    text-decoration: none;
    margin-right: 20px;
}
.btn-sign-up{
    display: inline-block;
    width: 120px;
    height: 50px;
    border: 1px solid #605bfe;
    padding: 15px 30px;
    border-radius: 5px;
    background: #605bfe;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;

}

.btn:hover {
    background: #605bfe;
    color: #fff;
}

.toggle {
    display: none;
}
.nav-button{
    display: none;
}


@media (max-width: 768px) {

    .headers{
        width: 100%;
        padding: 10px;
    }
    .nav-button{
        display: block;
    }
    .nav-button a{
        display: block;
        text-align: center;
        text-decoration: none;
        margin: 5px;
    }
    .buttons{
        display: none;
    }

    .nav{
        display: none;
    }
    .nav.active {
        display: block;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
    }

    .nav li {
        margin: 10px 0;
        text-align: center;
    }

    .toggle {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 2; 
    }

    .toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #333; 
        margin-bottom: 5px; 
        transition: all 0.3s ease; 
    }

    .toggle span:nth-child(1) {
        transform-origin: top left; 
    }

    .toggle span:nth-child(3) {
        transform-origin: bottom left; 
    }

    .toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); 
    }

    .toggle.active span:nth-child(2) {
        opacity: 0; 
    }

    .toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px); 
    }

}
/* ------------------------------------header end ------------------------------------------ */

.banner{
    display: flex;
    width: 1780px;
    margin: 0 auto;
    gap: 40px;
    padding: 70px 0 70px 300px;
}
.banner_details {
    width: 570px; 
    height: 474px; 
}
.banner_details h1{
    font-size: 52px;
    line-height: 60px;
    font-weight: bold;
}
.banner_details img{
    margin-top: 40px;
}
.banner_details p{
    margin-top: 50px;
    font-size: 19px;
}
.banner_img img{
    width: 705px;
     height: 474px;
}

.banner_btn{
margin-top: 49px;
display: flex;
gap: 30px;

}

.banner_try button{
    cursor: pointer;
    width: 150px; 
    height: 50px;  
    border-radius: 8px; 
    border: 1px solid rgba(96, 91, 254, 1);
    background: rgba(96, 91, 254, 1);
    color: #ffff;
    font-size: 18px;
}

.banner_watch button{
    cursor: pointer;
    width: 150px; 
    height: 50px;  
    border-radius: 8px; 
    border: 1px solid rgba(96, 91, 254, 1);
    background: #ffff;
    color: black;
    font-size: 18px;
}
@media (max-width: 1024px){
    .banner{
        padding: 70px 0px 70px 10px;
    } 

}
@media (max-width: 1440px){
    .banner{
        display: flex;
        width: 100%;
        margin: 0 auto;
        gap: 0px;
        padding: 70px 0px 70px 120px;
    } 

}
@media (max-width: 768px){
    .banner{
        display: block;
        width: 100%;
        margin: 0 auto;
        gap: 0px;
        padding: 70px 0px;
    } 
    .banner_img img{
       display: none;
    }
    .banner_details {
        width: 100%; 
        padding: 10px 10px 50px 10px;
       
    }
}

/* ------------------------------banner end------------------------------------------ */
.sponser {
    margin: 50px auto;
    display: grid;
    width: 1170px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  
  .sponser-item {
    box-shadow: -5px 0px 56px -6px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 45px 30px;
    height: 120px;
    width: 210px;
   
    
  }

  @media (max-width: 768px){
    .sponser{
        margin-top: 100px;
        width: 100%;
    }
    .sponser-item {
        margin: 20px auto;
        width: 300px;
    }

  }
/* ------------------------sponser end-------------------------------------- */

.launch{
    width: 1130px;
    height: 478px;
    display: flex;
    gap: 100px;
    margin:  100px auto;

}
.launch-ditals{
    width: 477px;
}

.launch-ditals h1{
    font-weight: 900;
    line-height: 60px;
    font-size: 40px;
    color:#605BFE;
}
.launch-ditals ul{
    margin-bottom: 50px;

}
.launch-ditals ul li {
   margin-left: 30px;
   margin-top: 30px;
   padding: 0px 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    list-style-image: url("../img/icone/listStyle.png");
}

@media (max-width: 768px){
    .launch{
        width: 100%;
        display: block;
        padding: 10px;
    }
    .launch-img{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .launch-img img{
        width: 250px;
    }
    .launch-ditals{
       width: 100%;
    }
}